:root {
  --background-color: #556b2f;
  --main-text-color: white;
  --nav-background-color: #556b2f;
  --nav-hover-color: #8fa31e;
  --nav-current-page-color: #5e7a2d;
  --buttons-background-color: #8fa31e;
  --butons-hover-background-color: #728518;
  --back-to-top-button-color: #8fa31e;
  --back-to-top-hover-button-color: #728518;
  --body-text-shadow: black 2px 2px 5px;
  --nav-a-text-shadow: rgb(0, 0, 0) 2px 2px 3px;
  --hero-gradient: rgba(85, 107, 47, 0.6);
  --hero-text-shadow: black 2px 2px 3px;
  --hero-text-color: white;
  --box-gradient: rgba(85, 107, 47, 0.6);
  --footer-text-shadow: rgb(0, 0, 0) 2px 2px 3px;
  --footer-text-shadow-hover: rgb(0, 0, 0) 5px 5px 15px;
}

html.black-and-white-mode {
  --background-color: #FFFFFF;
  --main-text-color: #000000;
  --nav-background-color: #FFFFFF;
  --nav-hover-color: #abab9e4a;
  --nav-current-page-color: #404f271c;
  --buttons-background-color: #2a2727;
  --butons-hover-background-color: #393a34;
  --back-to-top-button-color: #2a2727;
  --back-to-top-hover-button-color: #393a34;
  --body-text-shadow: none;
  --nav-a-text-shadow: none;
  --hero-gradient: rgba(0, 0, 0, 0.48);
  --hero-text-shadow: black 2px 2px 3px;
  --hero-text-color: white;
  --box-gradient: rgba(0, 0, 0, 0.48);
  --footer-text-shadow: none;
  --footer-text-shadow-hover: none;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  text-shadow: var(--body-text-shadow);
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  transition: color 0.3s ease, text-shadow 0.3s ease, background-color 0.3s ease;
}

header {
  font-size: xxx-large;
  letter-spacing: 8px;
  height: auto;
  margin: 0;
  margin-top: 7px;
  align-self: center;
  order: 1;
  text-align: center;
}

header h1 {
  margin: 0;
}

#theme-toggle {
  background: none;
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
}

#theme-toggle:hover {
  background: var(--main-text-color);
  color: var(--background-color);
}

nav {
  background-color: var(--nav-background-color);
  width: 100%;
  align-self: center;
  order: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 35px;
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

@media (max-width: 420px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 600px){
  #theme-toggle {
    position: static;
  }
}

nav a {
  color: var(--main-text-color);
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  text-shadow: var(--nav-a-text-shadow);
  transition: background-color 0.3s ease, transform 0.5s, color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
  background-color: var(--nav-hover-color);
  transform: scale(1.3);
}

nav a:active {
  opacity: 60%;
}

.navHome {
  background-color: var(--nav-current-page-color);
}

main {
  align-self: center;
  flex-grow: 1;
  order: 3;
  width: 100%;
  transition: color 0.3s ease;
}

.hero {
  background-image: linear-gradient(
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(Images/hero-img.jpeg);
  background-position: center;
  background-size: cover;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--hero-text-color);
  text-shadow: var(--hero-text-shadow);
  text-align: center;
  padding: 0 20px;
  border-radius: 5px;
  transition: color 0.3s ease, text-shadow 0.3s ease, background-image 0.3s ease;
}

.hero h1 {
  margin: 0;
  font-size: 3.7rem;
}

.hero p {
  margin-top: 10px;
  font-size: 1.6rem;
}

.welcome {
  padding: 25px 0;
  text-align: center;
  margin-bottom: 5px;
}

.welcome h2 {
  font-size: 35px;
  margin: 20px 0;
}

.welcome p {
  font-size: 17px;
  margin: 20px 0;
}

.hero-button,
.box2 a,
.box1 a {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--buttons-background-color);
  color: var(--hero-text-color);
  text-decoration: none;
  font-weight: bold;
  font-size: large;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease, color 0.3s ease;
}

.hero-button:hover,
.box2 a:hover,
.box1 a:hover {
  background-color: var(--butons-hover-background-color);
  transform: scale(1.2);
}

.hero-button:active,
.box2 a:active,
.box1 a:active {
  opacity: 90%;
}

.teaser {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.teaser h3 {
  font-size: 33px;
}

.teaser p {
  font-size: 20px;
}

/* teaser divs */
.box1,
.box2 {
  color: var(--hero-text-color);
  text-shadow: var(--hero-text-shadow);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.3s ease, color 0.3s ease, text-shadow 0.3s ease;
  border-radius: 15px;
  flex-basis: 500px;
  min-width: 260px;
  flex-grow: 0.3;
  flex-shrink: 1;
  margin: 0 30px;
  margin-bottom: 20px;
}

.box1:hover,
.box2:hover {
  transform: scale(1.15);
}

.box1 a,
.box2 a {
  margin-bottom: 15px;
}

.box1 {
  background-image: linear-gradient(
      var(--box-gradient),
      var(--box-gradient)
    ),
    url(Images/box1-img.jpeg);
  background-size: 100%;
}

.box2 {
  background-image: linear-gradient(
      var(--box-gradient),
      var(--box-gradient)
    ),
    url(Images/box2-img.webp);
  background-size: 100%;
}

footer {
  height: 50px;
  font-size: large;
  align-self: center;
  order: 4;
  transition: 0.5s ease;
  text-shadow: var(--footer-text-shadow);
  padding: 20px;
  margin-top: 0;
  align-content: center;
  transform-origin: 50% 100%;
}

footer:hover {
  transform: scale(1.2);
  text-shadow: var(--footer-text-shadow-hover);
}

#back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--back-to-top-button-color);
  color: white;
  border: none;
  padding: 13px 21px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease, background-color 0.3s ease;
}

#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  background-color: var(--back-to-top-hover-button-color);
}
