body {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#board {
  height: 100vh;
  width: auto;
  background-image: url("./assets/Flappy\ Bird/background-day.png");
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  image-rendering: pixelated;
}
