html {
  background-color: #556b2f;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: white;
  text-shadow: black 2px 2px 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
}

header {
  font-size: xxx-large;
  letter-spacing: 8px;
  height: auto;
  margin: 0;
  margin-top: 7px;
  align-self: center;
  order: 1;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #556b2f;
  width: 100%;
  align-self: center;
  order: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 35px;
  padding: 5px;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

nav a {
  color: white;
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.5s;
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

nav a:hover {
  background-color: #8fa31e;
  transform: scale(1.3);
}

nav a:active {
  opacity: 60%;
}

.navContact {
  background-color: #5e7a2d;
}

main {
  align-self: center;
  flex-grow: 1;
  order: 3;
  width: 100%;
}

.form-container {
  border-radius: 15px;
  max-width: 800px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 30px;
  box-sizing: border-box;
  text-shadow: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
  background-color: rgba(143, 163, 30, 0.2);
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

.form-container h2 {
  text-align: center;
  margin-top: 0;
  color: white;
  font-size: 2.5rem;
}

.form-container p {
  text-align: center;
  margin-bottom: 25px;
  color: white;
  font-size: 1.4rem;
}

.form-container input,
.form-container select,
.form-container textarea {
  color: white;
  background-color: #8fa31e;
  width: 100%;
  height: auto;
  border-radius: 7px;
  padding: 12px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.211);
  margin: 10px 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 0.9rem;
  transition: transform 0.3s ease, border 0.3s ease;
}

main form textarea::placeholder,
main form select::placeholder,
main form input::placeholder {
  color: white;
  opacity: 70%;
  font-weight: bold;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  transform: scale(1.02);
  box-shadow: none;
  border: 1px black solid;
  outline: none;
}

.form-container label {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-container .button {
  padding: 15px;
  width: 100%;
  background-color: #394c17;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

.button:hover {
  background-color: #728518;
  transform: scale(1.05);
}

.button:active {
  opacity: 90%;
}

footer {
  color: white;
  height: 50px;
  font-size: large;
  align-self: center;
  order: 4;
  transition: 0.5s;
  text-shadow: rgb(0, 0, 0) 2px 2px 5px;
  padding: 20px;
  margin-top: 0;
  align-content: center;
  transform-origin: 50% 100%;
}

footer:hover {
  transform: scale(1.2);
  text-shadow: rgb(0, 0, 0) 5px 5px 15px;
}

#back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #8fa31e;
  color: white;
  border: none;
  padding: 13px 21px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  background-color: #728518;
}
