:root {
  --background-color: #556b2f;
  --main-text-color: white;
  --nav-background-color: #556b2f;
  --nav-hover-color: #8fa31e;
  --nav-current-page-color: #5e7a2d;
  --buttons-background-color: #8fa31e;
  --butons-hover-background-color: #728518;
  --back-to-top-button-color: #8fa31e;
  --back-to-top-hover-button-color: #728518;
  --body-text-shadow: black 2px 2px 5px;
  --nav-a-text-shadow: rgb(0, 0, 0) 2px 2px 3px;
  --form-background-color: rgba(143, 163, 30, 0.2);
  --inside-form-text-color: white;
  --inside-form-background-color: #8fa31e;
  --form-placeholder-color: white;
  --submit-button-background: #394c17;
  --submit-button-text-color: white;
  --submit-button-shadow: rgb(0, 0, 0) 2px 2px 3px;
  --submit-button-hover-color: #889b2bd8;
  --submit-button-border: none;
  --footer-text-shadow: rgb(0, 0, 0) 2px 2px 3px;
  --footer-text-shadow-hover: rgb(0, 0, 0) 5px 5px 15px;
}

html.black-and-white-mode {
  --background-color: #ffffff;
  --main-text-color: #000000;
  --nav-background-color: #ffffff;
  --nav-hover-color: #abab9e4a;
  --nav-current-page-color: #404f271c;
  --buttons-background-color: #2a2727;
  --butons-hover-background-color: #393a34;
  --back-to-top-button-color: #2a2727;
  --back-to-top-hover-button-color: #393a34;
  --body-text-shadow: none;
  --nav-a-text-shadow: none;
  --inside-form-text-color: rgb(0, 0, 0);
  --form-background-color: rgba(0, 0, 0, 0.9);
  --form-placeholder-color: black;
  --submit-button-background: #2e2d2d;
  --submit-button-text-color: rgb(255, 255, 255);
  --submit-button-shadow: none;
  --submit-button-hover-color: #31312f80;
  --submit-button-border: 2px white solid;
  --inside-form-background-color: #ffffff;
  --footer-text-shadow: none;
  --footer-text-shadow-hover: none;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: var(--background-color);
  color: var(--main-text-color);
  text-shadow: var(--body-text-shadow);
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
  transition: color 0.3s ease, text-shadow 0.3s ease, background-color 0.3s ease;
}

header {
  font-size: xxx-large;
  letter-spacing: 8px;
  height: auto;
  margin: 0;
  margin-top: 7px;
  align-self: center;
  order: 1;
  text-align: center;
}

header h1 {
  margin: 0;
}

#theme-toggle {
  background: none;
  border: 2px solid var(--main-text-color);
  color: var(--main-text-color);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: absolute;
  top: 25px;
  right: 25px;
  padding: 0;
}

#theme-toggle:hover {
  background: var(--main-text-color);
  color: var(--background-color);
}

nav {
  background-color: var(--nav-background-color);
  width: 100%;
  align-self: center;
  order: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 35px;
  padding: 5px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

@media (max-width: 420px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1020px) {
  #theme-toggle {
    position: static;
  }
}

nav a {
  color: var(--main-text-color);
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  text-shadow: var(--nav-a-text-shadow);
  transition: background-color 0.3s ease, transform 0.5s, color 0.3s ease,
    text-shadow 0.3s ease;
}

nav a:hover {
  background-color: var(--nav-hover-color);
  transform: scale(1.3);
}

nav a:active {
  opacity: 60%;
}

.navContact {
  background-color: var(--nav-current-page-color);
}

main {
  align-self: center;
  flex-grow: 1;
  order: 3;
  width: 100%;
}

.form-container {
  border-radius: 15px;
  max-width: 800px;
  margin: 20px auto;
  margin-bottom: 0;
  padding: 30px;
  box-sizing: border-box;
  text-shadow: none;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
  background-color: var(--form-background-color);
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

.form-container h2 {
  text-align: center;
  margin-top: 0;
  color: white;
  font-size: 2.5rem;
}

.form-container p {
  text-align: center;
  margin-bottom: 25px;
  color: white;
  font-size: 1.4rem;
}

.form-container input,
.form-container select,
.form-container textarea {
  color: var(--inside-form-text-color);
  background-color: var(--inside-form-background-color);
  width: 100%;
  height: auto;
  border-radius: 7px;
  padding: 12px;
  border: none;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.211);
  margin: 10px 0;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 0.9rem;
  transition: transform 0.3s ease, border 0.3s ease, color 0.3s ease,
    background-color 0.3s ease;
}

main form textarea::placeholder,
main form select::placeholder,
main form input::placeholder {
  color: var(form-placeholder-color);
  opacity: 70%;
  font-weight: bold;
}

.form-container input:focus,
.form-container select:focus,
.form-container textarea:focus {
  transform: scale(1.02);
  box-shadow: none;
  border: 1px rgb(0, 0, 0) solid;
  outline: none;
}

.form-container label {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.form-container .button {
  padding: 15px;
  width: 100%;
  background-color: var(--submit-button-background);
  color: var(--submit-button-text-color);
  text-decoration: none;
  font-weight: bold;
  border-radius: 7px;
  cursor: pointer;
  border: var(--submit-button-border);
  text-shadow: var(--submit-button-shadow);
  transition: background-color 0.3s ease, transform 0.3s ease,
    text-shadow 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.button:hover {
  background-color: var(--submit-button-hover-color);
  transform: scale(1.05);
}

.button:active {
  opacity: 90%;
}

#form-success-message {
  display: none;
  text-align: center;
  padding: 40px;
}

#form-success-message h2 {
  color: white;
  font-size: 2rem;
  margin-top: 0;
}

footer {
  height: 50px;
  font-size: large;
  align-self: center;
  order: 4;
  transition: 0.5s ease;
  text-shadow: var(--footer-text-shadow);
  padding: 20px;
  margin-top: 0;
  align-content: center;
  transform-origin: 50% 100%;
}

footer:hover {
  transform: scale(1.2);
  text-shadow: var(--footer-text-shadow-hover);
}

#back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--back-to-top-button-color);
  color: white;
  border: none;
  padding: 13px 21px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease, color 0.3s ease,
    background-color 0.3s ease;
}

#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  background-color: var(--back-to-top-hover-button-color);
}
