html {
      background-color: #556B2F;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
      color: white;
      text-shadow: black 2px 2px 5px;
      align-self: center;
      display: flex;
      flex-direction: column;
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
      min-height: 100vh;
      font-family: "Bebas Neue", sans-serif;
      font-weight: 200;
      font-style: normal;
      letter-spacing: 2px;
}


header {
      color: white;
      font-size:xxx-large;
      letter-spacing: 8px;
      height: auto;
      margin: 0;
      margin-top: 7px;
      align-self: center;
      order: 1;
      text-shadow: rgb(0, 0, 0) 2px 2px 3px;
      text-align: center;
}

header h1 {
      margin: 0;
}

nav {
      background-color: #556B2F;
      width: 100%;
      align-self: center;
      order: 2;
      display: flex;
      justify-content: center;
      gap: 35px;
      padding: 5px;
      margin-bottom: 10px;
}

nav a {
      color: white;
      font-size: 26px;
      text-decoration: none;
      font-weight: bold;
      padding: 8px 16px;
      border-radius: 5px;
      transition:
            background-color 0.3s ease,
            /* color 0.3s ease, */
            transform 0.5s;
            /* text-shadow 0.5s; */
      text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

nav a:hover {
  background-color: #8FA31E;
  /* color: #333; */
  transform: scale(1.3);
  /* text-shadow: rgb(80, 84, 80) 5px 5px 25px; */
}

nav a:active {
  opacity: 60%;
}

.navContact {
  background-color: #5e7a2d;
}

main {
      align-self: center;
      flex-grow: 1;
      order: 3;
      width: 100%;
}

main form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      size: 100%;
      font-size: 25px;
      margin-top: 20px;
}

main form textarea::placeholder,
main form select::placeholder,
main form input::placeholder {
      color: black;
      opacity: 70%;
}

main form input,
main form select,
main form textarea {
      color: white;
      background-color: #8FA31E;
      width: 400px;
      border-radius: 10px;
      padding: 10px;
      border: #333;
      box-shadow: none;
      margin: 10px 0;
}

main form select {
      width: 420px;
}

.button {
      margin-top: 20px;
      padding: 10px 20px;
      width: 420px;
      background-color: #8FA31E;
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: large;
      border-radius: 5px;
      transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #728518;
  transform: scale(1.2);
  cursor: pointer;
}

.button:active {
  opacity: 90%
}


footer {
      color: white;
      height: 50px;
      font-size: large;
      align-self: center;
      order: 4;
      transition: 0.5s;
      text-shadow: rgb(0, 0, 0) 2px 2px 3px;
      padding: 20px;
      margin-top: 10px;
      align-content: center;
      transform-origin: 50% 100%;
}

footer:hover {
      transform: scale(1.2);
      text-shadow: rgb(0, 0, 0) 5px 5px 15px;
}

#back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #8FA31E;
  color: white;
  border: none;
  padding: 13px 21px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  background-color: #728518;
}