html {
  background-color: #556b2f;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  color: white;
  text-shadow: black 2px 2px 5px;
  align-self: center;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  font-style: normal;
  letter-spacing: 2px;
}

header {
  font-size: xxx-large;
  letter-spacing: 8px;
  height: auto;
  margin: 0;
  margin-top: 7px;
  align-self: center;
  order: 1;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #556b2f;
  width: 100%;
  align-self: center;
  order: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 35px;
  padding: 5px;
  margin-bottom: 10px;
}

@media (max-width: 400px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

nav a {
  color: white;
  font-size: 26px;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.5s;
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
}

nav a:hover {
  background-color: #8fa31e;
  transform: scale(1.3);
}

nav a:active {
  opacity: 60%;
}
.navGallery {
  background-color: #5e7a2d;
}

main {
  align-self: center;
  flex-grow: 1;
  order: 3;
  width: 100%;
}

footer {
  color: white;
  height: 50px;
  font-size: large;
  align-self: center;
  order: 4;
  transition: 0.5s;
  text-shadow: rgb(0, 0, 0) 2px 2px 3px;
  padding: 20px;
  margin-top: 10px;
  align-content: center;
  transform-origin: 50% 100%;
}

footer:hover {
  transform: scale(1.2);
  text-shadow: rgb(0, 0, 0) 5px 5px 15px;
}

.gallery-container {
  display: flex;
  flex-flow: row wrap;
  gap: 30px;
  justify-content: center;
}

.card {
  /* width: 380px; */
  flex-basis: 350px;
  flex-shrink: 1;
  flex-grow: 1;
  /* height: 380px; */
  /* background-color: #8FA31E; */
  /* background-color: #333; */
  transition: transform 0.4s ease;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  /* border: 2px solid #ccc; */
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.8);
  background-color: rgba(143, 163, 30, 0.2);
}

.card-image,
.card video {
  width: 100%;
  height: auto;
  display: block;
}

.card-text {
  padding: 20px;
  /* font-size: large; */
}

.card-text h3 {
  margin-top: 0;
  /* color: #8FA31E; */
}

.card:hover {
  transform: scale(1.05);
}

#back-to-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: #8fa31e;
  color: white;
  border: none;
  padding: 13px 21px;
  border-radius: 35px;
  cursor: pointer;
  font-size: 25px;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#back-to-top-btn.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top-btn:hover {
  background-color: #728518;
}
